USE [master]
GO
/****** Object:  Database [AppStore]    Script Date: 3/19/2025 2:13:58 AM ******/
CREATE DATABASE [AppStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AppStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AppStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AppStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AppStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AppStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AppStore]
GO
/****** Object:  Table [dbo].[App]    Script Date: 3/19/2025 2:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[App](
	[AppSK] [int] IDENTITY(1,1) NOT NULL,
	[AppID] [nvarchar](255) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[DateReleased] [datetime] NULL,
	[Installs] [int] NULL,
	[Currency] [nvarchar](10) NULL,
	[Price] [decimal](10, 2) NULL,
	[InAppProductPrice] [decimal](10, 2) NULL,
	[ContainsAds] [bit] NULL,
	[OffersInApp] [bit] NULL,
	[ContentRating] [nvarchar](50) NULL,
	[ContentDescription] [nvarchar](1) NULL,
	[DeveloperSK] [int] NULL,
	[GenreSK] [int] NULL,
 CONSTRAINT [PK_App] PRIMARY KEY CLUSTERED 
(
	[AppSK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppCategories]    Script Date: 3/19/2025 2:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppCategories](
	[AppCategoriesID] [int] IDENTITY(1,1) NOT NULL,
	[AppID] [int] NULL,
	[CategorySK] [int] NULL,
 CONSTRAINT [PK_AppCategories] PRIMARY KEY CLUSTERED 
(
	[AppCategoriesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 3/19/2025 2:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategorySK] [int] IDENTITY(1,1) NOT NULL,
	[Category_Name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategorySK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Developer]    Script Date: 3/19/2025 2:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Developer](
	[DeveloperSK] [int] IDENTITY(1,1) NOT NULL,
	[DeveloperID] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[Website] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[DeveloperSK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 3/19/2025 2:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[GenreSK] [int] IDENTITY(1,1) NOT NULL,
	[GenreID] [nvarchar](255) NOT NULL,
	[Genre_Name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[GenreSK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 3/19/2025 2:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[ReviewSK] [int] IDENTITY(1,1) NOT NULL,
	[ReviewID] [nvarchar](255) NOT NULL,
	[AppSK] [int] NULL,
	[UserID] [int] NULL,
	[Score] [decimal](3, 2) NULL,
	[Comment] [nvarchar](1) NULL,
	[Date] [datetime] NULL,
	[ThumbsUpCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewSK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/19/2025 2:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[App]  WITH CHECK ADD  CONSTRAINT [FK_App_Developer] FOREIGN KEY([DeveloperSK])
REFERENCES [dbo].[Developer] ([DeveloperSK])
GO
ALTER TABLE [dbo].[App] CHECK CONSTRAINT [FK_App_Developer]
GO
ALTER TABLE [dbo].[App]  WITH CHECK ADD  CONSTRAINT [FK_App_Genre] FOREIGN KEY([GenreSK])
REFERENCES [dbo].[Genre] ([GenreSK])
GO
ALTER TABLE [dbo].[App] CHECK CONSTRAINT [FK_App_Genre]
GO
ALTER TABLE [dbo].[AppCategories]  WITH CHECK ADD  CONSTRAINT [FK_AppCategories_App] FOREIGN KEY([AppID])
REFERENCES [dbo].[App] ([AppSK])
GO
ALTER TABLE [dbo].[AppCategories] CHECK CONSTRAINT [FK_AppCategories_App]
GO
ALTER TABLE [dbo].[AppCategories]  WITH CHECK ADD  CONSTRAINT [FK_AppCategories_Category] FOREIGN KEY([CategorySK])
REFERENCES [dbo].[Category] ([CategorySK])
GO
ALTER TABLE [dbo].[AppCategories] CHECK CONSTRAINT [FK_AppCategories_Category]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_App] FOREIGN KEY([AppSK])
REFERENCES [dbo].[App] ([AppSK])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_App]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Users]
GO
USE [master]
GO
